{% extends 'views/layouts/base.html' %}

{% block content %}
    {# Get blog collection #}
    {% set blogCollectionCacheID = strings('blog-collection-' ~ 'blog').hash().toString() %}
    {% if cache().has(blogCollectionCacheID) %}
        {% set blog = cache().get(blogCollectionCacheID) %}
    {% else %}
        {% set blog = entries().fetch('blog', {'collection': true}).exceptFromCollection(['content']).sortByDesc('published_at') %}
        {% do cache().set(blogCollectionCacheID, blog) %}
    {% endif %}

    {# Display blog posts #}
    {% for post in blog %}
        <a href="{{ post.id }}" class="text-4xl border-b-black border-b-2 flex items-center py-4 hover:text-pink-500">
            <div>{{ post.title }}</div>
            <div class="ml-auto text-base">{{ post.published_at|date(flextype.registry.get('flextype.date_display_format')) }}</div>
        </a>
    {% endfor %}
{% endblock %}